/* Main kiosk element  */
.grid-kiosk { 
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px; 
    width: 95%; 
    height: 100%; 
}

/* Grid elements */
.box, .box-1, .box-2, .box-3 {
    position: relative;
    overflow: hidden;
    pointer-events: auto; /* ENABLE HOVER */
    border: 3px solid #808080;
    background-size: cover;
    background-position: center;
}
