/* Layout reset */
* { box-sizing: border-box; padding: 0; margin: 0; }

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #008073; /* Classic Teal */
    overflow: hidden; /* Prevents scrollbars in Kiosk mode */
}

body::after {
    content: " ";
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
    z-index: 1; 
    pointer-events: none;
}