/* Layout reset */
* { box-sizing: border-box; padding: 0; margin: 0; }


/* Scanlines filter for background */
html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #008073; /* Classic Teal */
    overflow: hidden; /* Prevents scrollbars in Kiosk mode */
}

body::after {
    content: " ";
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
    z-index: 1; 
    pointer-events: none;
}


/* HEADER changed depth to Layer 10 */
header {
    flex: 0 0 60px; /* Static height */
    background-color: #c0c0c0df;
    border-bottom: 2px solid #808080;
    border-top: 2px solid #dfdfdf;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

header ul { display: flex; list-style: none; width: 100%; gap: 15px; align-items: center; }

header li {
    background-color: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.85rem;
}

header li a { color: #000; text-decoration: none; }

/* drop down connection, fix dummy ear */
.connection-dropdown { 
    margin-left: auto; 
    display: flex; 
    align-items: 
    center; gap: 10px; 
    font-size: 0.8rem; 
    font-weight: bold; 
}

.connection-dropdown select {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff;
    padding: 2px 5px;
    font-weight: bold;
}