<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
    <link rel="icon" href="./img/diagram-icon.png">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid-boxes.css">
</head>
<body>

<header>
    <ul>
        <li><a href="data.html">FILE</a></li>
        <li><a href="index.html">SOFTWARE</a></li>

<!-- Drop down for the connection protocol -->
                <div class="connection-dropdown">
            <label for="CONNECTION">PROTOCOL:</label>
            <select id="CONNECTION">
                <option value="CABLE">CABLE (DEFAULT)</option>
                <option value="EAR">EAR INTERFACE</option>
                <option value="SETTINGS">SETTINGS</option>
            </select>
        <li class="EXIT-btn"></li>
    </ul>
</header>


<footer>
    <p>ASA HE</p>
    <div class="chime-btn">chime</div>
</footer>
</body>
<html></html>